@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    
}
body{
    height: 100vh;
    position: relative;
    background-color: black;
    background-image: url(imagens/espaco.jpg);
    background-size: cover;

    background-repeat: no-repeat;
    display: block;
    margin: 0;
}


div > img{
    position:relative;
    transform: translate(-50% -50%);
    display: block;
    margin: 0 auto;
    top: 50px;
}