@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image:linear-gradient(to right,#3D5A73,#182625) ;
}

p{
    text-align: justify;
}
main{
    background-color: rgba(255, 255, 255, 0.555);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(192, 187, 187, 0.459);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #2F3D40;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(110, 108, 108);
}

h2{
    color: #41635f;
}